#javascript {
  display: none;
  height: 100%;
}

#ruby {
  display: none;
}

#python {
  display: none;
}

img {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.box {
  width: 95%;
  background-color: rgb(247, 224, 21);
  border: 10px solid rgb(19, 18, 18);
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  color: rgb(12, 11, 11);
  border-radius: 10px;
}

.box2 {
  width: 95%;
  background-color: rgb(250, 210, 164);
  border: 10px solid rgb(19, 18, 18);
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  color: rgb(12, 11, 11);
  border-radius: 10px;
}

.box3 {
  width: 95%;
  background-color: white;
  border: 10px solid rgb(19, 18, 18);
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  color: rgb(12, 11, 11);
  border-radius: 10px;
}

.bigBox {
  width: 95%;
  background-color: rgb(201, 214, 171);
  border: 10px solid rgb(19, 18, 18);
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  color: rgb(12, 11, 11);
  border-radius: 10px;
}

h3 {
  text-align: center;
}

.align-heading {
  text-align: center;
}

.align-languages {
  text-align: center;
}